# Copy this to .env and fill in your values

# ── Camera 1 ──────────────────────────────────────────────────────────────
CAM1IP=192.168.1.14
CAM1USER=admin
CAM1PASS=admin
CAM1POOL=500
CAM1FPS=2


# ── Camera 2 ──────────────────────────────────────────────────────────────
CAM2IP=192.168.1.171
CAM2USER=admin
CAM2PASS=admin
CAM2POOL=500
CAM2FPS=2

# ── Camera 3 ──────────────────────────────────────────────────────────────
CAM3IP=192.168.1.153
CAM3USER=admin
CAM3PASS=admin
CAM3POOL=500
CAM3FPS=2

# ── Camera 4 ──────────────────────────────────────────────────────────────
CAM4IP=192.168.1.0
CAM4USER=admin
CAM4PASS=admin
CAM4POOL=500
CAM4FPS=2

# ── SETTINGS ───────────────────────────────────────
DEFAULT_CAMERA_PORT=554
DEFAULT_CAMERA_STREAM=sub
DEFAULT_CAMERA_FPS=5
